.ui.segments, .ui.segment {
  box-shadow: none;
}

.ui.disabled.segment {
  position: relative;
  cursor: default;
  pointer-events: none;
}

.ui.dimmer {
  &.z-index-99 {
    z-index: 99 !important;
  }
  &.z-index-1 {
    z-index: 1 !important;
  }
}

.toast {
  @include isMobile {
    word-break: break-word;
  }
}

.ui.form .fields:not(.grouped):not(.inline) .field:not(:only-child) .ui.toggle.checkbox {
  margin-top: 7px;
}
