body {
  font-size: $font-size-base;
  font-family: $font-family;
  font-weight: $font-weight-base;
  color: $body-color;
  line-height: $line-height-base;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #f0f1f5;
}

body ::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
}
