<div class="ui text fixed menu">
    <div class="ui container">
        <a class="item sidebar header-menu" onclick="$('#side-bar').sidebar('toggle')">
            <i class="sidebar icon"></i>
        </a>
        <a routerLink="/main" class="header item header-menu">
            3050 CLAN
        </a>
        <a routerLink="/users" routerLinkActive="active" class="item header-menu">선수</a>
        <a routerLink="/results" routerLinkActive="active" class="item header-menu">경기결과</a>
        <a routerLink="/rankings" routerLinkActive="active" class="item header-menu">랭킹</a>
        <div class="right menu">
            <a class="item" (click)="authService.login()" *ngIf="!authService.isAuthenticated()">로그인</a>
            <app-ui-dropdown *ngIf="authService.isAuthenticated()">
                <div class="ui inline dropdown top right pointing item">
                    <div class="text">
                        <img class="ui avatar image" src="{{auth.picture}}">
                        {{auth.name}}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">내 선수</div>
                        <div class="divider"></div>
                        <a class="ui card small" *ngFor="let user of auth.users; let i = index"
                           (click)="userCreateModal.show();userCreateForm.setUser(user)">
                            <div class="content">
                                <div class="elo">
                                    <div class="ui mini circular label">
                                        ELO
                                    </div>
                                    {{user.elo | number}}
                                </div>
                                <!--<i class="right floated close link icon" (click)="deleteUser(user, i)"></i>-->
                                <div class="ui horizontal list">
                                    <div class="disabled item">
                                        <img appImgTribe [tribe]="user.tribe" class="ui mini header-tribe-img image">
                                        <div class="content">
                                            <h6 class="ui header">
                                                <span class="ui grey bold-normal text">{{user.tier}}</span>
                                                <div class="sub header">
                                                    <span class="ui text" style="font-size: 18px;">{{user.nick}}</span>
                                                </div>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <h6 class="ui center aligned icon header" *ngIf="auth.users && auth.users.length < 3">
                            <i class="plus link blue icon" (click)="userCreateModal.show()"></i>
                            {{3 - auth.users.length}}명 더 추가 가능.
                        </h6>

                        <div class="divider"></div>
                        <a class="item" (click)="authService.logout()" style="align-self: unset;">로그아웃</a>
                    </div>
                </div>
            </app-ui-dropdown>
        </div>
    </div>
</div>

<app-ui-modal #userCreateModal
              [class]="'overlay fullscreen'"
              (approve)="userCreateForm.submit()"
              (hidden)="userCreateForm.reset()"
              (shown)="userCreateForm.setAuth(auth)">
    <!--    [notUseApprove]="true"-->
    <div class="ui header">
        선수 등록/수정
    </div>
    <div class="content scrolling">
        <app-user-create-form #userCreateForm
                              (successUpdate)="userCreateModal.hide();updateUser($event);"
                              (success)="userCreateModal.hide();setUser($event);"></app-user-create-form>
    </div>
</app-ui-modal>
