<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <!--<img src="assets/images/logo.png" class="ui centered mini image">-->
        <h4 class="ui icon header">
            <i class="barcode icon"></i>
            <div class="content">
                Project
                <div class="sub header">powered by shlee</div>
            </div>
        </h4>
        <br>
        <div class="ui horizontal small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
