<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <h5 class="ui header">
            3050 CLAN
            <div class="sub header">created by <span class="ui red text">3050_Red</span></div>
        </h5>
        <div class="ui basic segment" style="padding-top: 0;">
            <a href="https://github.com/navystyle" target="_blank">
                <i class="large github middle aligned icon"></i>
            </a>
        </div>
    </div>
</div>
