<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <h5 class="ui header">
            3050 CLAN
            <div class="sub header">created by <span class="ui red text">3050_Red</span> <span class="ui small grey text">(suhyung lee)</span></div>
        </h5>
        <div class="ui basic segment" style="padding-top: 0;">
            <div class="ui horizontal small divided link list">
                <div class="item">
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <a href="https://github.com/navystyle?tab=repositories" target="_blank">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
